@{
    ViewData["Title"] = "Área Restrita";
}

<div class="container">
    <h1 class="display-4">Bem-vindo @User.Identity.Name</h1>
    <p class="lead">
        Gere dados fictícios em arquivos <strong>Excel</strong> com facilidade.
        <br />
        Você pode criar os registros e em seguida optar por enviá-los por e-mail com os dados anexados.
    </p>
    <div class="alert alert-info" role="alert">
        <h4 class="alert-heading">Como Funciona?</h4>
        <ul>
            <li><strong>Geração de Dados:</strong> Escolha o número de registros desejados e gere seu arquivo Excel.</li>
            <li><strong>Envio por E-mail:</strong> Adicione o e-mail de destino e envie o arquivo gerado diretamente para o seu e-mail.</li>
            <li><strong>Requisitos:</strong> Você deve gerar no mínimo 10 registros e no máximo 100 registros. </li>
        </ul>
    </div>
    <form id="formGerar" method="get" action="@Url.Action("GerarExcel", "Exportar")">
        <div class="form-group">
            <label for="quantidade">Número de Registros:</label>
            <input type="number" id="quantidade" name="quantidade" min="10" max="1000" required class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary">Gerar Arquivo Excel</button>
        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#emailModal">Gerar e Enviar Email</button>
    </form>
    <div id="emailFeedback"></div>
    <div class="modal fade" id="emailModal" tabindex="-1" role="dialog" aria-labelledby="emailModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="emailModalLabel">Enviar Arquivo por E-mail</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="emailFeedback" class="mb-3"></div>
                    <form id="emailForm" method="post">
                        <div class="form-group">
                            <label for="email">Endereço de E-mail:</label>
                            <input type="email" id="email" name="email" class="form-control" required placeholder="Digite o e-mail para envio" />
                        </div>
                        <div class="form-group">
                            <label for="link">Link do Projeto:</label>
                            <input type="text" id="link" name="link" class="form-control" placeholder="Insira o link do projeto" />
                        </div>
                        <input type="hidden" id="quantidade" name="quantidade" />
                        <button type="submit" class="btn btn-primary">Enviar E-mail</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="~/js/email.js"></script>